<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
<div class="container">
  <div class="oyuncubilgileri">
    <div class="fotograf">
      <img src="{{actorDetails.photoPath}}">
    </div>
    <div class="detay">
      <h1>{{actorDetails.actorName}}</h1>
      <p>{{actorDetails.biography}}</p>
      <div class="detay-dogumyili">
        Doğum tarihi: {{ actorDetails.birthDate | date: 'dd/MM/yyyy' }}
      </div>
    </div>
  </div>
</div>
</body>
</html>
