<div class="title"><h1>Filmler</h1></div>
<div class="film-container">
  <div class="film-wrapper">
    <div *ngFor="let film of filmsToShow"  class="kart" (click)="onFilmClick(film.filmId)">
      <img src="{{film.posterPath}}" alt="Yellowstone Poster">
      <div class="metin">
        <div class="rating-summary">
          <span class="star-icon">★</span>
          <span id="average-rating">0.0</span>
          <div class="rating">
            <span class="star-outline" data-value="1">☆</span>
            <span class="star-outline" data-value="2">☆</span>
            <span class="star-outline" data-value="3">☆</span>
            <span class="star-outline" data-value="4">☆</span>
            <span class="star-outline" data-value="5">☆</span>
          </div>
        </div>
        <h2>{{ film.filmName }}</h2>
        <a href="#">+ Watchlist</a>
        <b href="#">► Trailer</b>
           </div>
    </div>
  </div>
</div>
