<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <title>IMDb Clone</title>

</head>
<body>
<nav class="navbar">
  <div class="logo">
    <img src="./assets/LOGO.png" alt="CineRank Logo">
  </div>
  <div class="search-bar">
    <input type="text" placeholder="Search movies..." />
  </div>
  <div class="links">
    <a href="/">Home</a>
    <a href="#">Movies</a>
    <a href="/login">Login/Register</a>
  </div>
</nav>
<div class="top">
  <div class="columns">
    <div class="column is-full featured_wrapper p-0">
      <img src="assets/arka_plan.png" class="featured">
      <div class="title_wrapper">
        <span class="has-text-black">Trending Today</span>
        <img src="assets/Schindler's_List.jpeg">
      </div>
    </div>
  </div>
</div>

<div class="title"><h1>Kategoriler</h1></div>
<div class=wrapper>
  <div class="film-strip-container">
    <div class="film-strip">
      <div class="film-holes top-holes"></div>
      <div class="film-content" >
        <div class="film-frame" *ngFor="let genre of genresToShow">{{ genre }}</div>
      </div>
      <div class="film-holes bottom-holes"></div>
    </div>
  </div>
</div>


<div class="title"><h1>Filmler</h1></div>
<div class="film-container">
  <div class="film-wrapper">
    <div *ngFor="let film of filmsToShow"  class="kart">
      <img src="{{film.posterPath}}" alt="Yellowstone Poster">
      <div class="metin">
        <div class="rating-summary">
          <span class="star-icon">★</span>
          <span id="average-rating">0.0</span>
          <div class="rating">
            <span class="star-outline" data-value="1">☆</span>
            <span class="star-outline" data-value="2">☆</span>
            <span class="star-outline" data-value="3">☆</span>
            <span class="star-outline" data-value="4">☆</span>
            <span class="star-outline" data-value="5">☆</span>
          </div>
        </div>
        <h2>{{ film.filmName }}</h2>
        <a href="#">+ Watchlist</a>
        <b href="#">► Trailer</b>
           </div>
    </div>
  </div>
</div>
<div class="title"><h1>Filmler</h1></div>
<div class="film-container">
  <div class="film-wrapper">
    <div *ngFor="let film of filmsToShow"  class="kart">
      <img src="{{film.posterPath}}" alt="Yellowstone Poster">
      <div class="metin">
        <div class="rating-summary">
          <span class="star-icon">★</span>
          <span id="average-rating">0.0</span>
          <div class="rating">
            <span class="star-outline" data-value="1">☆</span>
            <span class="star-outline" data-value="2">☆</span>
            <span class="star-outline" data-value="3">☆</span>
            <span class="star-outline" data-value="4">☆</span>
            <span class="star-outline" data-value="5">☆</span>
          </div>
        </div>
        <h2>{{ film.filmName }}</h2>
        <a href="#">+ Watchlist</a>
        <b href="#">► Trailer</b>
           </div>
    </div>
  </div>
</div>
<div class="title"><h1>Filmler</h1></div>
<div class="film-container">
  <div class="film-wrapper">
    <div *ngFor="let film of filmsToShow"  class="kart">
      <img src="{{film.posterPath}}" alt="{{film.filmName}}">
      <div class="metin">
        <div class="rating-summary">
          <span class="star-icon">★</span>
          <span id="average-rating">0.0</span>
          <div class="rating">
            <span class="star-outline" data-value="1">☆</span>
            <span class="star-outline" data-value="2">☆</span>
            <span class="star-outline" data-value="3">☆</span>
            <span class="star-outline" data-value="4">☆</span>
            <span class="star-outline" data-value="5">☆</span>
          </div>
        </div>
        <h2>{{film.filmName}}</h2>
        <a href="#">+ Watchlist</a>
        <b href="#">► Trailer</b>
           </div>
    </div>
  </div>
</div>

<div class="title"><h1>Oyuncular</h1></div>
<div class="actors-slider">
<div class="actors-container">
  <div class="actor-wrapper" *ngFor="let oyuncu of actors" >
    <img src="{{oyuncu.photoPath}}" class="image-wrapper-img" alt="Oyuncu Resmi">
    <h3 class="image-wrapper-h3">{{oyuncu.actorName}}</h3>
  </div>
</div>
</div>
</body>
</html>
