<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
<div class="container" >
  <div class="film-container">
    <div class="poster">
      <img
        src="{{filmDetails.film.posterPath}}"
      />
    </div>
    <div class="details">
      <div class="title">
        <p>{{filmDetails.film.filmName}}</p>
      </div>
      <div class="description">
        <p>{{ filmDetails.film.filmDescription }}</p>
      </div>
      <div class="altbilgi">
        <div class="tarih">
          Çıkış Tarihi:{{ filmDetails.film.filmReleaseDate | date:'yyyy' }}
        </div>
      </div>
      <div class="altbilgi">
        <div class="turler" *ngFor="let genres of filmDetails.genre">
          {{genres.genreName}}
        </div>
        <div class="sure">
          Süre:{{filmDetails.film.filmDuration}} dakika
        </div>
      </div>
  </div>
  </div>

  <div class="actors">
    <h2>Oyuncular</h2>
    <div class="actor-list">
      <div class="actorbox"*ngFor="let actor of filmDetails.actor">
        <img class="actor"
             src="{{actor.photoPath}}"
        />
        <p>{{actor.actorName}}</p>
      </div>
    </div>
  </div>

  <div class="comments">
    <h1>Yorum Ekleyin!</h1>
    <div class="commentbox">
      <textarea [(ngModel)]="content" placeholder="Yorumunuzu buraya yazın..."></textarea>
      <button (click)="addComment()">Yorum Ekle</button>
    </div>

    <div class="allcomments">
      <h1>Yorumlar</h1>
      <div class="allcommentbox">
        <div *ngFor="let comment of comments" class="comment">
          <p>{{ comment.content }}</p>
          <span class="date">{{ comment.publishedDate | date: 'dd/MM/yyyy' }}</span>
        </div>
      </div>
    </div>
  </div>


</div>
</body>
</html>
