body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: black;
  color: white;
}

.container {
  display: grid;
  grid-template-areas:
    "poster details"
    "actors actors"
    "comments comments";
  grid-template-columns: 2fr 3fr;
  grid-template-rows: auto auto 1fr;
  gap: 20px;
  padding: 20px;
  margin-left: 200px;
  margin-right: 200px;
}
.film-container {
  display: flex; /* Flexbox düzeni */
  padding: 10px; /* İç boşluk ekler */
  width: 1020px;
  height: 700px;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.poster {
  grid-area: poster;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  border-radius: 10px;
  overflow: hidden; /* Taşmayı engeller */
}

.poster img {
  width: 100%; /* Genişliği kutuya göre ayarla */
  height: 100%; /* Yüksekliği kutuya göre ayarla */
  object-fit: contain; /* Resmi kesmeden kutuya sığdırır */
}

.details {
  grid-area: details;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 600px;
  width: 500px;
}

.details .title {
  padding: 20px; /* İç boşluk */
  border-radius: 10px; /* Köşeleri yuvarlar */
  height: 100px; /* Sabit yükseklik */
  display: flex; /* İçeriği merkezlemek için flexbox */
  justify-content: center; /* Yatayda merkezler */
  align-items: center; /* Dikeyde merkezler */
  font-size: 36px; /* Yazı büyüklüğü */
  font-weight: bold; /* Yazı kalınlığı */
  text-align: center; /* Yazıyı ortalar */
  color: white; /* Yazı rengini beyaz yapar */
}

.details .description {
  padding: 40px;
  border-radius: 10px;
  height: 410px;
  font-size: 20px;
  text-align: center;
}

.actors {
  grid-area: actors;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.actors h2 {
  text-align: left; /* Başlığı sola hizalar */
  margin-bottom: 20px; /* Başlık ile oyuncular arasında boşluk bırakır */
  color: white; /* Yazı rengini beyaz yapar */
  padding: 20px;
  font-size: 36px;
}

.actor-list {
  display: flex; /* Flexbox kullanımı */
  gap: 50px; /* Oyuncular arasındaki boşluğu azaltır */
  flex-wrap: wrap; /* İçerik sığmazsa bir sonraki satıra taşır */
}

.actor {
  width: 210px; /* Kutunun genişliği */
  height: 210px; /* Kutunun yüksekliği */
  border-radius: 50%; /* Dairesel kutular */
  object-fit: cover; /* Resmi kutuya sığdırır */
  object-position: center; /* Resmin ortasını gösterir */
  margin: 0; /* Ekstra boşlukları kaldırır */
  background-color: #333; /* Dairesel kutuların arka planı */
}




.comments {
  grid-area: comments;
  background-color: #444;
  padding: 20px;
  border-radius: 10px;
}
