<!DOCTYPE  html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<p>admin component</p>
<div>
  <button (click)="openModal()">FİLM EKLE</button>
</div>
<div class="search-container">
  <!-- Arama Kutusu -->
  <input
    type="text"
    placeholder="Film ara..."
    [(ngModel)]="searchFilmQuery"
    class="search-input"
  />

  <!-- Filmler Listesi -->
  <ul class="film-list">
    <li
      *ngFor="let film of films | filterItems: searchFilmQuery : 'filmName'"
      (click)="goToFilmDetails(film.filmId)"
      class="film-item"
    >
      {{ film.filmName }}
    </li>
  </ul>
</div>
<div class="search-container">
<!-- Arama Kutusu -->
<input
  type="text"
  placeholder="Oyuncu ara..."
  [(ngModel)]="searchActorQuery"
  class="search-input"
/>
<ul class="actor-list">
  <li
    *ngFor="let actor of actors | filterItems:searchActorQuery : 'actorName'"
    (click)="goToActorDetails(actor.id)"
    class="actor-item"
  >
    {{ actor.actorName }}
  </li>
</ul>
</div>
<div class="modal" *ngIf="isModalOpen">
  <div class="modal-content">
    <h2>Film Ekle</h2>
    <form (ngSubmit)="addFilm()">
      <label for="filmName">Film Adı:</label>
      <input id="filmName" [(ngModel)]="addFilmObject.filmName" name="requestFilmName" />

      <label for="requestFilmDescription">Açıklama:</label>
      <textarea
        id="requestFilmDescription"
        [(ngModel)]="addFilmObject.filmDescription"
        name="requestFilmDescription"
      ></textarea>

      <label for="requestFilmReleaseDate">Çıkış Tarihi:</label>
      <input
        id="requestFilmReleaseDate"
        type="date"
        [(ngModel)]="addFilmObject.filmReleaseDate"
        name="requestFilmReleaseDate"
      />

      <label for="requestFilmDuration">Süre (dk):</label>
      <input id="requestFilmDuration" type="number" [(ngModel)]="addFilmObject.filmDuration" name="requestFilmDuration" />

      <label>Türler:</label>
      <div class="dropdown">
        <button type="button" (click)="toggleGenreDropdown()">Türleri Seç</button>
        <div class="dropdown-content" *ngIf="isGenreDropdownOpen">
          <label *ngFor="let genre of availableGenres">
            <input
              type="checkbox"
              [value]="genre.genreName"
              [checked]="selectedGenres.includes(genre.genreName)"
              (change)="toggleGenreSelection(genre.genreName)"
            />
            {{ genre.genreName }}
          </label>
        </div>
      </div>

      <ul>
        <li *ngFor="let genre of selectedGenres">{{ genre }}</li>
      </ul>
      <label for="posterPath">Film Posteri:</label>
      <input
        id="posterPath"
        type="file"
        accept="image/*"
        (change)="onFileSelected($event)"
      />
      <div class="modal-buttons">
        <button type="submit">Ekle</button>
        <button type="button" (click)="closeModal()">İptal</button>
      </div>
    </form>
  </div>
</div>
</body>
</html>



